<div class="about-me__container">
  <div class="about-me__image">
    <img src="/assets/exemplo-will.jpg" alt="">
  </div>
  <div class="about-me__text">
    <h1>SOBRE MIM</h1>
    <hr>
    <p>
      Meu nome é William Melo, sou um psicologo negro com experiência clínica e apaixonado por promover
      a escuta qualificada a todas as pessoas.<br>
      Tenho 23 anos e minha jornada na psicologia tem sido marcada
      pelo desejo genuíno de ofecerer um lugar de acolhimento e compreensão.
      <br>
      Acredito na importância de criar um espaço seguro, livre de julgamentos, onde cada indivíduo possa
      se expressar e compartilhar suas experiências sem medo.
    </p>
    <p>
       Utilizo a abordagem da psicologia socio-histórica para compreender o contexto social e histórico que
       molda nossa identidade, auxiliando meus clientes a explorar suas narrativas pessoais e encontrar
       significados em suas jornadas. Se você está em busca de um lugar onde sua voz será ouvida e suas
       vivências respeitadas, estou aqui para acompanha-l@ nesse caminho de autoconhecimento e crescimento.
    </p>
    <p>
      Nossa jornada será colaborativa, respeitando suas necessidades e valores individuais. Estou aqui para
      ouvir suas experiências, validar suas emoções e fornecer um espaço seguro onde você possa
      explorar seus pensamentos e sentimentos mais profundos. Juntos, iremos construir um caminho de transformação
      pessoal, auxiliando a descobrir novas perspectivas e desenvolver estratégias para lidar com os desafios da vida.
    </p>
  </div>
</div>
