<div class="about-me__container">
  <div class="about-me__image">
    <img src="/assets/exemplo2.jpg" alt="">
  </div>
  <div class="about-me__text">
    <h1>SOBRE MIM</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at viverra mi.
      Ut eleifend quam lectus, lacinia elementum nunc tincidunt eu. Integer sed tortor id nibh ultricies
       eleifend quis non mi. Sed lobortis nisl non urna tristique volutpat. Maecenas ut justo metus.
       Cras pharetra eget erat et tincidunt. Integer lobortis, massa ut interdum imperdiet,
       risus turpis pretium ex, eget sollicitudin sapien tortor eu sapien. Nunc in finibus nunc.
    </p>
    <p>
       Donec eu nisi in dui semper lacinia. Morbi vulputate lectus nec ipsum egestas, eget lobortis
       elit rhoncus. Ut a facilisis enim, nec dignissim urna. Etiam maximus diam sit amet mi sagittis
       suscipit in vel lacus. Sed sed nibh tincidunt lorem varius sollicitudin. Nulla facilisi.
       Aliquam ultrices sapien id lacus rutrum egestas.
    </p>
    <p>
      Sed id vestibulum ex, a malesuada mauris. Mauris accumsan nibh sit amet orci lobortis,
      vulputate scelerisque arcu aliquet. Vivamus ultricies neque lectus, vitae elementum urna
      condimentum eu. Donec convallis hendrerit mauris ac vulputate. Donec quis augue vel erat
      varius venenatis nec vel ligula. Fusce egestas rhoncus purus ut mollis. Praesent at ornare
      dolor. Curabitur lobortis bibendum eros eget ultrices.
    </p>
  </div>
</div>
