<footer class="footer__container" id="footer">
  <!--Grid row-->
  <div class="content">
    <!--Grid column LOGO -->
    <div class="footer__logo">

      <div class="ball_logo
                  rounded-circle
                  shadow-1-strong
                  ms-4
                  d-flex
                  align-items-center
                  justify-content-center">
        <img src="/assets/logo-will-melo.jpg" height="100" width="170" loading="lazy" />
      </div>

      <p class="logo__text">
        Cuide de sua saúde mental, agende uma consulta agora mesmo ou acesse nosso
        Instagram e saiba mais sobre os cuidados e a rotina de uma vida livre do peso
        emocial.
      </p>

    </div>

    <!--Grid column CONTATO-->
    <div class="footer_contacts">
      <h1>Contato</h1>

      <ul class="list-unstyled">
        <li>
          <a class="custmon-link">
            <i class="bi bi-geo-alt"></i>Ceilândia, Brasília/DF
          </a>
        </li>
        <li>
          <a class="custmon-link click" href="https://wa.me/qr/BOU6ZUG6MHM3J1" target="_blank" >
            <i class="bi bi-whatsapp"></i>+55 61 99656-2663</a>
        </li>
        <li>
          <a class="custmon-link click" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqWhBtsVBNXlTptXFbZdtVLBwhXmjTRsPwJQpmxBGNCnqzJNKfkXbgdbRFQCbdTrjPVpMg" target="_blank" >
            <i class="bi bi-envelope"></i>willian.melo.p@outlook.com</a>
        </li>
        <li>
          <a class="custmon-link click" href="https://instagram.com/will_psi?igshid=MWZjMTM2ODFkZg==" target="_blank" >
            <i class="bi bi-instagram"></i>@will_psi</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- Copyright -->
  <div class="footer_author">
    © 2023 Copyright:
    <a class="text-white" href="https://www.linkedin.com/in/larissa-lunguinho/" target="_blank">Lari Lunguinho Developer</a>
  </div>

</footer>
