@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.card-main__container {
  height: 550px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  text-align: center;
}

.card-main__content {
  margin-left: 60px;
  color: #231F20;
  height: 350px;
}

.card-main__content > h1 {
  font-size: 61px;
  padding-bottom: 40px;
  font-family: 'Raleway', sans-serif;
}
.card-main__content > h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
.card-main__content > h3 {
  font-family: 'Raleway', sans-serif;
  opacity: 50%;
}

.card-main__button {
  padding-top: 95px;
}

.card-main__button > button{
  background-color: #D6897B;
  color: white;
  font-size: 25px;
  font-weight: 540;

  height: 55px;
  border-radius: 20px;
}
.card-main__button > button:hover{
  background-color: #E8BCA8;
  font-size: 28px;
  box-shadow: 5px;
}
