<nav class="navbar__container navbar bg-body-tertiary" id="home">
  <div class="container-fluid">
    <!-- LOGO -->
    <span class="navbar-brand">
      <img src="/assets/will-logo.png"
        alt="Logo william psicologo"
        width="110" height="70">
    </span>

    <span class="navbar__titles">
      <h1>WILLIAN MELO</h1>
      <h3>Psicologia Sócio-Histórica</h3>
    </span>

    <!-- BUTTON LATERAL DIREITA -->
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- CARD AO ABRIR -->
    <div class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">

    <!-- BUTTON PRA FECHAR -->
      <div class="offcanvas-header flex-row-reverse">
        <button type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <!-- ITEMS -->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li>
            <a href="#home">
                <i class="bi bi-house"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#specialty">Especialidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contato</a>
          </li>
          <br>


        </ul>

      </div>
    </div>


  </div>
</nav>
