header{
  padding-bottom: 70px;
}

@media (max-width: 480px) {
  * {
    width: 480px;
  }
  .wpp {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  * {
    width: 380px;
  }
  .wpp {
    display: none;
  }
}
