* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html, body {
  height: 100%;
  background-image: url(assets/exemplo-will.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 480px) {
  body {
    background-image: url(/assets/exemplo-will-opaca.jpg);
    background-size: 200% auto;
    background-position: center top 70px;
  }
}
