@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container-fluid {
  height: 500px;

  /* background-image: url(/assets/exemplo-will-opaca.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #a1ac91;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-fluid > h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #231F20;
  font-weight: 600;
  margin-top: 25px;
}

.specialty__container {
  height: 90%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  border: 0.5px solid #768261;
  border-radius: 30px;
  width: 200px;
  height: 160px;
  margin: 15px 15px 15px 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-body > h3 {
  font-size: 23px;
  font-weight: 500;
  color: #bac2ae;
}
.card-title {
  margin: 0;
}
