@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container-fluid {
  height: 500px;
  background-color: #D1D5CA;
}

.container-fluid > h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #231F20;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
}

.content {
  display: flex;
  flex-direction: row;
}

.specialty__container {
  height: 90%;
  width: 70%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}

.img__container{
  height: 90%;
  width: 50%;

  display: flex;
  justify-content: flex-end;
}

.img__container > img {
  width: 600px;
  height: 400px;
}

.card {
  border: 0.5px solid #4e5740;
  background-color: #D1D5CA;

  border-radius: 30px;
  width: 200px;
  height: 160px;
  margin: 15px 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-body > h3 {
  font-size: 23px;
  font-weight: 500;
  color: #231F20;
}
.card-title {
  margin: 0;
  color: #231F20;
}

@media (max-width: 480px) {
  .container-fluid {
    height: 800px;
  }
  .container-fluid > h1 {
    font-size: 30px;
    display: flex;
    align-items: flex-start;
  }

  .specialty__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
  .card {
    width: 160px;
    height: 190px;
  }
  .img__container{
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .container-fluid {
    height: 950px;
  }
  .specialty__container {
    border: 2px solid rgb(88, 85, 226);
  }
  .card {
    width: 130px;
    height: 250px;
  }
  .img__container{
    display: none;
  }
}
